swagger: '2.0'

info:
  version: 0.1.0
  title: GOV.UK Content API
  description: An API for accessing the content available on GOV.UK.

schemes:
  - https
host: gov.uk
basePath: /api

paths:
  /content/{id}:
    get:
      summary: Get a piece of content by ID.
      description: Returns a single piece of content for an ID.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the piece of content to return.
          type: integer
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Content'
        404:
          description: No content with the ID specified.

  /content/{base_path}:
    get:
      summary: Get a piece of content by base path.
      description: Returns a single piece of content for a base path.
      parameters:
        - name: base_path
          in: path
          required: true
          description: Path of the piece of content to return.
          type: string
        - name: date
          in: query
          description: Date at which to access the conent, defaults to right now.
          type: string
          format: date-time
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Content'
        404:
          description: No content at the path specified.

  /document/{id}:
    get:
      summary: Get a document by ID.
      description: Returns a single document.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the document to return
          type: integer
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Document'
        404:
          description: No document with the ID specified.

  /document/{content_id}/{locale}:
    get:
      summary: Get a document by content ID and locale.
      description: Returns a single document for a content ID and locale.
      parameters:
        - name: content_id
          in: path
          required: true
          description: Content ID of the document to return.
          type: string
        - name: locale
          in: path
          required: true
          description: Locale of the document to return.
          type: string
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Document'
        404:
          description: No document with the content ID and locale specified.

  /edition/{id}:
    get:
      summary: Get an edition by ID.
      description: Returns a single edition for an ID.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the edition to return.
          type: integer
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Edition'
        404:
          description: No edition with the ID specified.

  /edition/{content_id}/{locale}/{version}:
    get:
      summary: Get an edition by content ID, locale and version.
      description: Returns a single edition for a content ID, locale or version.
      parameters:
        - name: content_id
          in: path
          required: true
          description: Content ID of the document to return the edition for.
          type: string
        - name: locale
          in: path
          required: true
          description: Locale of the document to return the edition for.
          type: string
        - name: version
          in: path
          required: true
          description: Version of the edition to return.
          type: integer
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Edition'
        404:
          description: No edition with the content ID, locale and version specified.

  /redirect/{id}:
    get:
      summary: Get a redirect by ID.
      description: Returns a single redirect for an ID.
      parameters:
        - name: id
          in: id
          required: true
          description: ID of the redirect to return.
          type: integer
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Redirect'
        404:
          description: No redirect with the ID specified.

  /gone/{id}:
    get:
      summary: Get a gone by ID.
      description: Returns a single gone for an ID.
      parameters:
        - name: id
          in: id
          required: true
          description: ID of the gone to return.
          type: integer
      responses:
        200:
          description: Successful operation.
          schema:
            $ref: '#/definitions/Gone'
        404:
          description: No gone with the ID specified.

  # /application/{id}:
  #   get:
  #     summary: Get an application by ID.
  #     description: Returns a single application for an ID.
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         description: ID of the application to return.
  #         type: integer
  #     responses:
  #       200:
  #         description: Successful operation.
  #         schema:
  #           $ref: '#/definitions/Application'
  #       404:
  #         description: No application with the ID specified.
  #
  # /application/{name}:
  #   get:
  #     summary: Get an application by name.
  #     description: Returns a single application for a name.
  #     parameters:
  #       - name: name
  #         in: path
  #         required: true
  #         description: Name of the application to return.
  #         type: string
  #     responses:
  #       200:
  #         description: Successful operation.
  #         schema:
  #           $ref: '#/definitions/Application'
  #       404:
  #         description: No application with the name specified.

definitions:
  Content:
    required:
      - id
      - base_path
      - routes
      - resource
      - start_date
      - end_date
    properties:
      id:
        type: integer
      base_path:
        type: string
      routes:
        type: array
        items:
          $ref: '#/definitions/Route'
      resource:
        $ref: '#/definitions/Resource'
      start_date:
        type: string
        format: date-time
      end_date:
        type: string
        format: date-time

  Route:
    required:
      - path
      - type
    properties:
      path:
        type: string
      type:
        type: string
        enum:
          - prefix
          - exact

  Resource:
    properties:
      edition:
        $ref: '#/definitions/Edition'
      redirect:
        $ref: '#/definitions/Redirect'
      gone:
        $ref: '#/definitions/Gone'
      application:
        $ref: '#/definitions/Application'

  Document:
    required:
      - id
      - content_id
      - locale
      - schema_name
      - document_type
      - document_supertypes
      - first_published_at
    properties:
      id:
        type: integer
      content_id:
        type: string
      locale:
        type: string
      schema_name:
        type: string
      type:
        type: string
      supertypes:
        required:
          - email
          - government
          - navigation
          - user_journey
        properties:
          email:
            type: string
          government:
            type: string
          navigation:
            type: string
          user_journey:
            type: string
      first_published_at:
        type: string
        format: date-time

  Edition:
    required:
      - id
      - document
      - title
      - description
      - need_ids
      - public_updated_at
      - details
      - publishing_app
      - rendering_app
      - links
      - expanded_links
      - access_limited
      - phase
      - analytics_identifier
      - payload_version
      - request_ids
    properties:
      id:
        type: integer
      document:
        $ref: '#/definitions/Document'
      title:
        type: string
      description:
        type: string
      need_ids:
        type: array
        items:
          type: integer
      public_updated_at:
        type: string
        format: date-time
      details:
        additionalProperties:
          type: string
      publishing_app:
        type: string
      rendering_app:
        type: string
      links:
        additionalProperties:
          type: string
      expanded_links:
        additionalProperties:
          type: string
      access_limited:
        required:
          - users
          - auth_bypass_ids
        properties:
          users:
            type: array
            items:
              type: integer
              format: int64
          auth_bypass_ids:
            type: array
            items:
              type: integer
              format: int64
      phase:
        type: string
      analytics_identifier:
        type: string
      payload_version:
        type: integer
      request_ids:
        required:
          - publishing
        properties:
          publishing:
            type: string

  Redirect:
    required:
      - id
      - destination
    properties:
      id:
        type: integer
      destination:
        type: string

  Gone:
    required:
      - withdrawn_notice
    properties:
      withdrawn_notice:
        required:
          - explanation
          - date
        properties:
          explanation:
            type: string
          date:
            type: string
            format: date-time

  # Application:
  #   required:
  #     - id
  #     - name
  #   properties:
  #     id:
  #       type: integer
  #     name:
  #       type: string
